* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.lottie-player {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

/* animation scroll mains */
